# Mengaktifkan mod_rewrite
RewriteEngine On

# Mengarahkan semua permintaan ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]

# Mengatur direktori root
RewriteBase /

# Mengatur domain utama
RewriteCond %{HTTP_HOST} ^www\.absensi\.sekolahlaboratoriumjakarta\.com$ [NC]
RewriteRule ^(.*)$ https://absensi.sekolahlaboratoriumjakarta.com/$1 [L,R=301]

# Mengamankan akses ke file sensitif
<FilesMatch "\.(htaccess|htpasswd|ini|phar|zip|sql)$">
  Order allow,deny
  Deny from all
</FilesMatch>