# Mengaktifkan mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Mengatur Base URL
    RewriteBase /absensi.sekolahlaboratoriumjakarta.com

    # Arahkan semua permintaan ke public/index.php jika file atau direktori tidak ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ public/login.php [L]
</IfModule>

# Mengatur Pengalihan HTTP ke HTTPS (jika menggunakan HTTPS)
<IfModule mod_rewrite.c>
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Menyembunyikan Ekstensi File .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ public/$1.php [NC,L]

# Menetapkan Charset UTF-8 sebagai default
AddDefaultCharset UTF-8

# Melindungi file dan folder sensitif dari akses luar
<FilesMatch "\.(env|htaccess|htpasswd|ini|log|sh|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Mengatur caching untuk file statis
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    ExpiresByType text/css "access 1 month"
    ExpiresByType application/javascript "access 1 month"
</IfModule>

# Melindungi file .htaccess dari akses luar
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>